In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

In [ ]:
# Step 1: Train Random Forest and XGBoost
df = pd.read_csv("D:/Nitte_NLP/nlp-basics/Day-1/1_Introduction/classification_data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  1000 non-null   int64
 1   income               1000 non-null   int64
 2   loan_amount          1000 non-null   int64
 3   years_with_employer  1000 non-null   int64
 4   credit_score         1000 non-null   int64
 5   default              1000 non-null   int64
dtypes: int64(6)
memory usage: 47.0 KB

In [9]:
df.head()

   age  income  loan_amount  years_with_employer  credit_score  default
0   56  125186        19546                   15           404        0
1   69   54674        20129                   27           501        1
2   46   55854         2591                   16           749        1
3   32   66271        12303                    7           565        0
4   60   93688        31561                    7           509        1

In [11]:
# Step 2: Split the data
X = df.drop('default', axis=1)
y = df['default']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
# Step 3: Train Random Forest and XGBoost
rf = RandomForestClassifier(random_state=42)
xgb = XGBClassifier(random_state=42)
    
rf.fit(X_train, y_train)
xgb.fit(X_train, y_train)
    
y_pred_rf = rf.predict(X_test)
y_pred_xgb = xgb.predict(X_test)

In [13]:
print("Random Forest Results:")
print("Accuracy:", accuracy_score(y_test, y_pred_rf))
print("Precision:", precision_score(y_test, y_pred_rf))
print("Recall:", recall_score(y_test, y_pred_rf))
print("F1 Score:", f1_score(y_test, y_pred_rf))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred_rf))

Random Forest Results:
Accuracy: 0.53
Precision: 0.5757575757575758
Recall: 0.5229357798165137
F1 Score: 0.5480769230769231
Confusion Matrix:
 [[49 42]
 [52 57]]

In [14]:
print("\nXGBoost Results:")
print("Accuracy:", accuracy_score(y_test, y_pred_xgb))
print("Precision:", precision_score(y_test, y_pred_xgb))
print("Recall:", recall_score(y_test, y_pred_xgb))
print("F1 Score:", f1_score(y_test, y_pred_xgb))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred_xgb))

XGBoost Results:
Accuracy: 0.55
Precision: 0.5871559633027523
Recall: 0.5871559633027523
F1 Score: 0.5871559633027523
Confusion Matrix:
 [[46 45]
 [45 64]]