In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

Define Some Example Texts

In [2]:
# Example text corpus
texts = [
    "The sky is blue.",
    "The sky was blue yesterday.",
    "The sun is bright today.",
    "We can see the shining sun."
]

 Apply TF-IDF Vectorization

In [3]:
# Initialize TF-IDF Vectorizer
vectorizer = TfidfVectorizer()

# Fit and transform
tfidf_matrix = vectorizer.fit_transform(texts)

print("\nTF-IDF Matrix Shape:", tfidf_matrix.shape)

TF-IDF Matrix Shape: (4, 13)

Compute Cosine Similarity

In [4]:
# Compute cosine similarity matrix
cosine_sim = cosine_similarity(tfidf_matrix)

# Print similarity matrix
import pandas as pd
pd.DataFrame(cosine_sim, index=texts, columns=texts)

,The sky is blue.,The sky was blue yesterday.,The sun is bright today.,We can see the shining sun.
The sky is blue.,1.000000,0.552906,0.326128,0.084205
The sky was blue yesterday.,0.552906,1.000000,0.077462,0.065653
The sun is bright today.,0.326128,0.077462,1.000000,0.215513
We can see the shining sun.,0.084205,0.065653,0.215513,1.000000

Interpretation:
Text 1 and Text 2 are very similar (>0.9) — both talk about sky and blue.

Text 3 and Text 4 are similar (>0.8) — both about sun.

Cross pairs are less similar.

Cosine similarity finds semantic closeness between texts!